.main-grid {
  margin-left: 300px;
  padding: 20px;
}

.main-grid-content {
  width: 100%;
}

.main-grid-content .article {
  margin: 40px 200px;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: left;
}

.article > p {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #00b3d3;
}

.article img {
  border-radius: 5px;
}

.article > h1 {
  font-size: 3rem;
}

.main-sidenav {
  background-color: #042029;
  width: 300px;
  color: #fbff16;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  text-align: center;
}

.main-sidenav h1 {
  color: #3eaffa;
  margin-top: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.main-sidenav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column wrap;
  list-style-type: none;
  padding: 0;
}

.main-sidenav li a {
  text-decoration-line: none;
  color: White;
}
